# Keynote presentations
Slides/keynote

# Datasets
datasets/Arabidopsis*.gff3
datasets/Arabidopsis*.gtf

# Exercices


##########################
##########################
##########################

# Folders to always ignore
Horaires/
Paperwork/
Travel and expenses/

# R stuff
**/.DS_Store
**/~$*
.Rhistory
.Rapp.history
.Ruserdata
/*.Rcheck/
.httr-oauth
.Renviron