# Keynote presentations
Slides/keynote
Slides/PDF

# Datasets
datasets/Arabidopsis*

# Exercices
Exercices/Day II*

##########################
##########################
##########################

# Folders to always ignore
Horaires/
Paperwork/
Travel and expenses/

# R stuff
**/.DS_Store
**/~$*
.Rhistory
.Rapp.history
.Ruserdata
/*.Rcheck/
.httr-oauth
.Renviron